+++
title = "PiWeatherRock"
linkTitle = "PiWeatherRock"

+++

{{< blocks/cover title="Display local weather on a Raspberry Pi" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/genebean/PiWeatherRock">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><strong>Pi + Display = modern weather rock</strong></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
PiWeatherRock displays local weather from Dark Sky on (almost) any screen you connect to a Raspberry Pi.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
PiWeatherRock has three screens that it cycles through to show you a daily forecast, a hourly forecast, and an information screen.
The weather show is from Dark Sky and is hyper-local which makes it much more accurate than many other sources. Data is refereshed
every five minutes so that you'll always have up-to-date information before heading outside.

{{< /blocks/section >}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-gitter" title="Come chat on Gitter" url="https://gitter.im/PiWeatherRock/community" %}}
PiWeatherRock has a community chat on Gitter where you can ask questions and give feedback
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/genebean/PiWeatherRock" %}}
We do a [Pull Request](https://github.com/genebean/PiWeatherRock/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/technicalissues" %}}
I'll announce new features here.
{{% /blocks/feature %}}


{{< /blocks/section >}}
